<!doctype html>
<html>

<head>
    <title>About</title>
    <link rel="icon", href="/img/weather.jfif">
    <link rel="stylesheet", href="/css/styles.css">
    
</head>

<body>
    <div class= 'main-content'>
        {{>header}}
        <p>This site was created by Shraddha Gupta. It has static data.</p>
        <img class="portrait other" src= "/img/i.jpg">
    </div>
   
    {{>footer}}
</body>

</html>