<!doctype html>
<html>

<head>
    <title>Help</title>
    <link rel="icon", href="/img/weather.jfif">
    <link rel="stylesheet", href="/css/styles.css">
   
</head>

<body>
    <div class= 'main-content'>
        {{>header}}
        {{!-- <h2>{{helptext}}</h2> --}}
        <h2>
            Please take note of following when entering address
        </h2>
        <p>
            Enter address in the search box before clicking on search button.
        </p>
        <p>
            Address can be either pin code or city,country.
        </p>
        {{!-- <ul>
            <li>
                Enter address in the search box before clicking on search button.
            </li>
            <li>
                Address can be either pin code or city,country.
            </li>
        </ul> --}}
    </div>
    
     {{>footer}}
</body>

</html>